<!doctype html>
<html lang="pt-br">

<head>
    <title>Dividas</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
    <header class="text-bg-dark">
        <!-- place navbar here -->
        <div class="container mb-5">
            <header class="d-flex justify-content-center py-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a href="{{ url_for('index')}}" class="nav-link text-light"
                            aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="{{ url_for('estoque')}}" class="nav-link text-light">Estoque</a></li>
                    <li class="nav-item"><a href="{{ url_for('vendas')}}" class="nav-link text-light">Vendas</a></li>
                    <li class="nav-item"><a href="{{ url_for('fornecedores')}}"
                            class="nav-link text-light">Fornecedores</a></li>
                    <li class="nav-item"><a href="{{ url_for('clientes')}}" class="nav-link text-light">Clientes</a>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"
                            href="#" role="button" aria-expanded="false">Contas</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('lista_fiado')}}">A Receber</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('lista_pagar')}}">A Pagar</a></li>
                        </ul>
                    </li>

                </ul>
            </header>
    </header>
    <main class="container mt-5">
        <h3>Contas a Pagar </h3>
        <table class="table table-striped text-center">
            <thead class="table-dark">
                <tr>
                    <th> Fornecedor </th>
                    <th> Vencimento </th>
                    <th> Valor(R$) </th>
                    <th> Situação </th>
                    <th> Ação </th>
                </tr>
            </thead>
            <tbody>
                {% for item in dados %}
                <tr class="{% if item.Data_de_Vencimento|strptime('%d/%m/%Y') < hoje %}table-danger{% endif %}">
                    <td> {{ item.Fornecedor }} </td>
                    <td> {{ item.Data_de_Vencimento }} </td>
                    <td> {{ item.Valor }} </td>
                    <td> {{ item.Situacao }} </td>
                    <td> <a href="{{ url_for('pagar', id=item.ID) }}" class="badge bg-success"> Pagar </a> </td>

                </tr>
                {% endfor %}
            </tbody>

        </table>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

</body>

</html>
