<!doctype html>
<html lang="pt-br">

<head>
    <title>Vendas</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
    <header class="text-bg-dark">
        <!-- place navbar here -->
        <div class="container mb-5">
            <header class="d-flex justify-content-center py-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a href="{{ url_for('index')}}" class="nav-link text-light"aria-current="page">Home</a></li>
                    <li class="nav-item"><a href="{{ url_for('estoque')}}"class="nav-link text-light text-light">Estoque</a></li>
                    <li class="nav-item"><a href="{{ url_for('vendas')}}" class="nav-link active">Vendas</a></li>
                    <li class="nav-item"><a href="{{ url_for('fornecedores')}}"class="nav-link text-light">Fornecedores</a></li>
                    <li class="nav-item"><a href="{{ url_for('clientes')}}" class="nav-link text-light">Clientes</a></li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-light"data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Contas</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('lista_fiado')}}">A Receber</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('lista_pagar')}}">A Pagar</a></li>
                        </ul>
                    </li>

                </ul>
            </header>
    </header>
    <main class="container mt-5">
        <a href="{{ url_for('ad_vendas')}}" class="btn btn-success my-2"> Adicionar Venda </a>
        <table class="table table-striped text-center">
            <thead class="table-dark">
                <tr>
                    <th> Cliente </th>
                    <th> Venda </th>
                    <th> Preço </th>
                    <th> Fiado ? </th>
                </tr>
            </thead>
            <tbody>
                {% for item in dados%}
                <tr>
                    <td> {{ item.ID_Cliente}} </td>
                    <td> <a href="{{ url_for('itens_venda', id=item.ID) }}"> {{ item.ID }} </a> </td>
                    <td> {{ item.Preco}} </td>
                    <td> {{ item.Fiado}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

</body>

</html>